@import '~normalize-scss';
@import './base/fonts';
@import './abstracts/mixins';
@import './abstracts/variables';

:root {
  font-size: 10px;
  font-family: 'Comfortaa', sans-serif;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.25s ease-out;
}

body {
  background: black;
  margin: 0;
  padding: 0;
  overflow: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 1.4rem;
  margin-left: 1rem;
  color: #000;
}

p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: normal;
}

header,
footer {
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  height: 6.5rem;
  width: 100%;
  position: fixed;
  z-index: 999;
}

header {
  top: 0;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_wrapper {
  display: flex;
  align-items: center;
  z-index: 99999;
}

.bluredBackgound,
.statsBackgound {
  position: fixed;
  z-index: 997;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 184, 188, 0.3) 0%,
    rgba(190, 139, 255, 0.3) 100%
  );
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.burger_menu {
  cursor: pointer;
  width: 2.6rem;
  height: 1.4rem;
  position: relative;
  transition: all 0.25s ease-in-out;
  .burger {
    transition: all 0.25s ease-in-out;
    width: 2.6rem;
    height: 1.5rem;
    position: relative;
    & .burger_icon_line {
      pointer-events: none;
      width: 2.6rem;
      height: 0.2rem;
      background-color: #000;
      position: absolute;
      &:first-child {
        top: 0rem;
      }
      &:nth-child(2) {
        top: 0.6rem;
      }
      &:last-child {
        top: 1.2rem;
      }
    }
  }
  &__active {
    .burger {
      & .burger_icon_line {
        &:first-child {
          top: 0.5rem;
          transform: rotateZ(45deg);
        }
        &:nth-child(2) {
          top: 0.6rem;
          opacity: 0;
          transform: rotateZ(-45deg);
          transform: scale(0);
        }
        &:last-child {
          top: 0.5rem;
          transform: rotateZ(-45deg);
        }
      }
    }
  }
}

.sideMenu {
  position: fixed;
  padding: 0 3rem;
  width: 32rem;
  height: 100vh;
  z-index: 998;
  background: linear-gradient(0deg, #d57ff3 7.51%, #be8bff 50.06%), #9064b3;
  &__hidden {
    left: -32rem;
  }
  &__list {
    padding: 0;
    margin-top: 12.5rem;
    list-style-type: none;
    color: #fff;
    @media (max-height: 630px) {
      margin-top: 10rem;
    }
  }
  &__listItemHeader {
    font-size: 1.8rem;
    line-height: 2rem;
    letter-spacing: 0.04rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 3rem 0;
    &:nth-child(2) {
      margin-bottom: 0;
      user-select: none;
      pointer-events: none;
    }
    @media (max-height: 630px) {
      margin: 2rem 0;
    }
  }
  &__listItem {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: 1.5rem 0;
  }
}
.categoryLink {
  display: inline-block;
  position: relative;
  img {
    position: absolute;
    top: -0.5rem;
    transform: translateX(3rem) scale(0);
    opacity: 0;
  }
  &:hover {
    transform: translateX(3rem);
    img {
      transform: translateX(-3rem) scale(1);
      opacity: 1;
    }
  }
}

.interactiveMenuItem {
  &:hover {
    color: #b7ffe4;
    cursor: pointer;
  }
}

.activeMenuItem {
  color: #b7ffe4;
  transform: translateX(3rem);
  img {
    transform: translateX(-3rem);
    opacity: 1;
  }
}

.playmode {
  @include no-sellect();
  position: relative;
  padding: 0 1rem;
  width: 8rem;
  border-radius: 3rem;
  height: 2.8rem;
  line-height: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  &.train {
    text-align: right;
    background: #ecd3ff;
    &:hover {
      background: #e6c6ff;
    }
  }
  &.play {
    text-align: left;
    background: #8bffab;
    &:hover {
      background: #85f5a5;
    }
  }
  .elipse {
    position: absolute;
    top: 0.3rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    background-color: #8bffab;
  }
}

footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .copyright {
    text-align: right;
    margin-right: 1.5rem;
    font-size: 1rem;
  }
  .logo_href {
    margin: 0 0.5rem;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.mainTrain {
  background: radial-gradient(50% 50% at 50% 50%, #b8ffe5 0%, #8bffac 100%),
    #c4c4c4;
  padding-bottom: 10rem 0 15rem;
}
.mainPlay {
  background: radial-gradient(50% 50% at 50% 50%, #ffb8bc 0%, #be8bff 100%),
    #c4c4c4;
}

.cards-wrapper {
  width: 102rem;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 15rem 0 15rem;
  @media (max-width: 1030px) {
    width: 75rem;
  }
  @media (max-width: 795px) {
    width: 50rem;
  }
  @media (max-width: 550px) {
    width: 32rem;
    justify-content: center;
  }
}

.categoryCard,
.wordCardWrapper {
  height: 30rem;
  width: 24rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.05));
  background-color: #fff;
  &__image {
    @include no-sellect();
    user-select: none;
    width: auto;
    height: auto;
  }
  &:hover {
    img {
      transform: scale(1.05, 1.05);
    }
    z-index: 30;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.15));
  }
}

.wordCardWrapper {
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  background-color: transparent;
  border-radius: 20px;
  overflow: hidden;
  height: 30rem;
  width: 24rem;
  & .wordCard {
    transition: all 0.35s ease-out;
    perspective: 100rem;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
  }
}

.guessed {
  opacity: 0.5;
  pointer-events: none;
  cursor: none;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.back {
  color: #fff;
  font-weight: 700;
  transform: rotateY(180deg);
  display: flex;
  text-shadow: 0rem 0rem 2rem rgb(90, 67, 112);
  justify-content: center;
  text-align: center;
  align-items: center;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 184, 188, 0.698) 0%,
    rgba(190, 139, 255, 1) 100%
  );
  pointer-events: none;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

.flipButton {
  cursor: pointer;
  position: absolute;
  top: 0.7rem;
  right: 0.5rem;
  &:hover {
    opacity: 0.5;
    transform: rotateZ(180deg);
  }
}

h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
}

.title-wrapper {
  background-color: #fff;
  width: 100%;
  height: 5rem;
  position: absolute;
  bottom: 0;
  text-transform: capitalize;
}

.logo {
  cursor: pointer;
}

.hidden {
  display: none;
}

.startGameButton,
.repeat {
  position: fixed;
  bottom: 10rem;
  z-index: 995;
  cursor: pointer;
  height: 6rem;
}

.startGameButton {
  width: 30rem;
  border-radius: 5rem;
  font-size: 1.8rem;
  font-weight: 700;
  background: #8bffac;
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.35s ease-out;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  transition: all 0.35s ease-out;
  &:hover {
    background: #5dfa89;
    color: #000;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.repeat {
  bottom: 10rem;
  color: #000;
  height: 6rem;
  width: 6rem;
  background: #f7f7f7;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0.1rem 2rem rgb(255, 255, 255);
  &:hover {
    background: #5dfa89;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.playable {
  &:after {
    content: 'Play';
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 3rem;
    background-color: #8bffab;
    font-size: 1.2rem;
    border-radius: 1rem 1rem 0 0;
    transition: all 0.25s ease;
  }
  &:hover {
    &:after {
      letter-spacing: 0.1rem;
      background-color: #be8bff;
      color: #fff;
    }
  }
}

.starsWrapper {
  width: 100%;
  left: 0;
  top: 8rem;
  height: 3rem;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 995;
}

.star {
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0 0.1rem;
}

.endGameMessageWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  z-index: 996;
  .bluredBackgound {
    cursor: auto;
  }
  @media (max-height: 510px) {
    padding: 7rem 0 0;
  }
}

.endGameMessage {
  position: fixed;
  width: 42.4rem;
  padding: 6rem;
  max-width: 95%;
  background-color: #fff;
  z-index: 999;
  border-radius: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  & img {
    justify-content: center;
    align-items: center;
    max-width: 21.3rem;
    height: 21.3rem;
    border-radius: 100%;
  }
  & h2 {
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  & .messageBody {
    text-align: center;
    font-size: 1.8rem;
    color: #000;
    margin: 1rem;
  }

  .starsWrapper {
    align-items: center;
    max-width: 28.3rem;
    height: auto;
    left: auto;
    top: auto;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .star {
      height: 3.2rem;
      width: 3.2rem;
      margin: 0.1rem;
    }
    @media (max-height: 780px) {
      .star {
        height: 2rem;
        width: 2rem;
      }
    }
    @media (max-width: 695px) {
      .star {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
  & button {
    padding: 2rem 6.6rem;
    font-size: 1.8rem;
    border-radius: 5rem;
    font-weight: 700;
    background: #8bffac;
    color: rgba(0, 0, 0, 0.8);
    transition: all 0.35s ease-out;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    transition: all 0.35s ease-out;
    cursor: pointer;
    &:hover {
      background: #5dfa89;
      color: #000;
    }
  }
  @media (max-width: 695px) {
    & button {
      padding: 1.5rem 3rem;
      font-size: 1.8rem;
    }
  }

  @media (max-height: 780px) {
    & button {
      padding: 1.5rem 3rem;
      font-size: 1.8rem;
    }
    padding: 3rem;
    width: 35rem;
    & img {
      max-width: 15rem;
      height: 15rem;
    }
  }

  @media (max-height: 585px) {
    padding: 2.5rem;
    width: 25rem;
    & img {
      max-width: 10rem;
      height: 10rem;
    }
  }
}

.statsBackgound {
  cursor: auto;
}

.statsTable,
.statsTableHeaders {
  width: 100%;
  display: flex;
  margin: 10rem auto;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  @media (max-width: 1520px) {
  }
}

.statsTable {
  margin: 16rem auto;
  transform: translateX(0.5rem);
  @media (max-width: 1310px) {
    transform: translateX(0rem);
  }
}

tbody {
  position: absolute;
  top: 0;
  font-size: 1.4rem;
  height: calc(100vh - 29rem);
  overflow: auto;
  &::-webkit-scrollbar {
    width: 1rem;
    @media (max-width: 1310px) {
      display: none;
    }
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1rem rgb(255, 255, 255);
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background: #be8bff;
    border-radius: 1rem;
  }
}
.statsTableHeaderBody {
  & th {
    table-layout: fixed;
    @media (max-width: 1520px) {
      font-size: 1.2rem;
      width: 15rem;
    }
    @media (max-width: 1300px) {
      min-width: 13rem;
      text-align: left;
      padding: 1rem;
    }
    @media (max-width: 1080px) {
      max-width: 13rem;
      &:nth-child(7) {
        display: none;
      }
    }
    @media (max-width: 950px) {
      &:nth-child(6) {
        display: none;
      }
    }
    @media (max-width: 810px) {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2){
        border-radius: 1rem 0 0 0;
      }
    }
    @media (max-width: 665px) {
      &:nth-child(4) {
        display: none;
      }
    }
    @media (max-width: 550px) {
      font-size: 1rem;
      text-align: center;
      max-width: 10rem;
      min-width: 10rem;
      &:after {
        display: none;
      }
      &:hover {
        letter-spacing: .05rem;
      }
      &:nth-child(5) {
        max-width: 7rem;
        min-width: 7rem;
      }
    }
    @media (max-width: 394px) {
      &:nth-child(5) {
        display: none;
      }
    }
  }
}
.statsTableBody {
  table-layout: fixed;
  & td {
    table-layout: fixed;

    @media (max-width: 1520px) {
      width: 15rem;
    }
    @media (max-width: 1300px) {
      min-width: 13rem;
    }
    @media (max-width: 1080px) {
      max-width: 13rem;
      &:nth-child(7) {
        display: none;
      }
    }
    @media (max-width: 950px) {
      &:nth-child(6) {
        display: none;
      }
    }
    @media (max-width: 810px) {
      &:nth-child(1) {
        display: none;
      }
    }
    @media (max-width: 665px) {
      &:nth-child(4) {
        display: none;
      }
    }
    @media (max-width: 550px) {
      font-size: 1.2rem;
      max-width: 10rem;
      min-width: 10rem;
      &:nth-child(5) {
        max-width: 7rem;
        min-width: 7rem;
      }
    }
    @media (max-width: 394px) {
      &:nth-child(5) {
        display: none;
      }
    }
  }
}

tr {
  background-color: #fff;
}

.tableHeaders {
  height: 6rem;
  width: 18rem;
  text-transform: uppercase;
  background-color: #be8bff;
  cursor: pointer;
  color: #fff;
  user-select: none;
  letter-spacing: 0.05rem;
  &:first-child {
    border-radius: 1rem 0 0 0;
  }
  &:last-child {
    border-radius: 0 1rem 0 0;
  }
  &:hover {
    background-color: #a775e9;
    letter-spacing: 0.12rem;
  }
  &__up {
    position: relative;
    &:after {
      content: url(../assets/icons/sort_up.svg);
      position: absolute;
      top: 1.8rem;
      margin-left: 0.5rem;
    }
  }
  &__down {
    &:after {
      content: url(../assets/icons/sort_down.svg);
      position: absolute;
      top: 2rem;
      margin-left: 0.5rem;
    }
  }
}

td {
  background-color: #fff;
  padding: 1rem;
  width: 18rem;
  height: 5rem;
  &::first-letter {
    text-transform: uppercase;
  }
}

.statsButtonsWrapper {
  position: fixed;
  bottom: 6.5rem;
  padding: 1rem 0 1.5rem;
  background: rgba(251, 248, 255, 0.85);
  backdrop-filter: blur(3px);
  width: 100%;
  z-index: 997;
  display: flex;
  justify-content: space-evenly;
}

.resetData,
.repeatDifficultWords {
  padding: 0 3rem;
  border-radius: 2rem;
  height: 4.5rem;
  font-size: 1.6rem;
  bottom: 0rem;
  right: 0rem;
  cursor: pointer;
  margin: 0 1.5rem;
  @media (max-width: 665px) {
    padding: 0 2.5rem;
    font-size: 1.4rem;
  }
}

.resetData {
  background-color: rgb(200, 75, 53);
  color: #fff;
  &:hover {
    background-color: rgb(210, 85, 60);
  }
}

.repeatDifficultWords {
  background-color: #8bffac;
  color: #000;
  &:hover {
    background-color: #5dfa89;
  }
}

.emptyStatsMessageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  & .emptyStatsMessage {
    position: relative;
    font-size: 10rem;
    display: flex;
    justify-content: center;
    &:before {
      content: ':)';
      position: absolute;
      top: -15rem;
      transform: rotateZ(90deg);
      background-color: #fff;
      color: rgb(255, 217, 0);
      padding: 1rem 1rem 2rem 1rem;
      text-align: center;
      width: 100px;
      height: 100px;
      border-radius: 100%;
    }
  }
  & .playMoreButton {
    transform: translateY(15rem);
    height: 6rem;
    padding: 0 3rem;
    font-size: 1.8rem;
    border-radius: 2.5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #be8bff;
    &:hover {
      background: #a775e9;
    }
  }
}

.overflow_hidden {
  overflow: hidden;
}