@import '~normalize-scss';
@import './base/fonts';
@import './abstracts/mixins';
@import './abstracts/variables';

:root {
  font-size: 10px;
  font-family: 'Comfortaa', sans-serif;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.25s ease;
}

body {
  background: black;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 1.4rem;
  margin-left: 1rem;
  color: #000;
}

p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: normal;
}

header,
footer {
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  height: 6.5rem;
  width: 100%;
  position: fixed;
  z-index: 999;
}

header {
  top: 0;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_wrapper {
  display: flex;
  align-items: center;
  z-index: 99999;
}

.bluredBackgound {
  position: fixed;
  z-index: 997;
  width: 100vw;
  height: 100vw;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 184, 188, 0.3) 0%,
    rgba(190, 139, 255, 0.3) 100%
  );
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.burger_menu {
  cursor: pointer;
  width: 2.6rem;
  height: 1.4rem;
  position: relative;
  transition: all 0.25s ease-in-out;
  .burger {
    transition: all 0.25s ease-in-out;
    width: 2.6rem;
    height: 0.2rem;
    background-color: #000;
    position: absolute;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 2.6rem;
      height: 0.2rem;
      background-color: #000;
    }
    &:before {
      bottom: -0.6rem;
    }
    &:after {
      bottom: -1.2rem;
    }
  }
  &__active {
    .burger {
      &:before {
        bottom: -0.9rem;
      }
      &:after {
        bottom: -1.8rem;
      }
    }
  }
}

.sideMenu {
  position: fixed;
  padding: 0 3rem;
  width: 32rem;
  height: 100vh;
  z-index: 998;
  background: linear-gradient(0deg, #d57ff3 7.51%, #be8bff 50.06%), #9064b3;
  &__hidden {
    left: -32rem;
  }
  &__list {
    padding: 0;
    margin-top: 12.5rem;
    list-style-type: none;
    color: #fff;
  }
  &__listItemHeader {
    font-size: 1.8rem;
    line-height: 2rem;
    letter-spacing: 0.04rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 3rem 0;
    &:nth-child(2) {
      margin-bottom: 0;
      user-select: none;
      pointer-events: none;
    }
  }
  &__listItem {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: 1.5rem 0;
    
  }
}

.interactiveMenuItem {
  &:hover {
    color: #B7FFE4;
    cursor: pointer;
  }
}

.activeMenuItem {
  color: #B7FFE4;
}

.playmode {
  @include no-sellect();
  position: relative;
  padding: 0 1rem;
  width: 8rem;
  border-radius: 3rem;
  height: 2.8rem;
  line-height: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  &.train {
    text-align: right;
    background: #ecd3ff;
    &:hover {
      background: #e6c6ff;
    }
  }
  &.play {
    text-align: left;
    background: #8bffab;
    &:hover {
      background: #85f5a5;
    }
  }
  .elipse {
    position: absolute;
    top: 0.3rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    background-color: #8bffab;
  }
}

footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .copyright {
    text-align: right;
    margin-right: 1.5rem;
    font-size: 1rem;
  }
  .logo_href {
    margin: 0 0.5rem;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.mainTrain {
  background: radial-gradient(50% 50% at 50% 50%, #b8ffe5 0%, #8bffac 100%),
    #c4c4c4;
}
.mainPlay {
  background: radial-gradient(50% 50% at 50% 50%, #ffb8bc 0%, #be8bff 100%),
    #c4c4c4;
}

.cards-wrapper {
  width: 102rem;
  height: 62rem;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}


.categoryCard, .wordCard {
  height: 30rem;
  width: 24rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.05));
  background-color: #fff;
  &__image {
    @include no-sellect();
    user-select: none;
    width: auto;
    height: auto;
    // max-height: 20rem;
  }
  &:hover {
    z-index: 30;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.15));
  }
}

h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
}

.title-wrapper {
  background-color: #fff;
  width: 100%;
  height: 5rem;
  position: absolute;
  bottom: 0;
  text-transform: capitalize;
}

.logo {
  cursor: pointer;
}

.hidden {
  display: none;
}